@import url(https://fonts.googleapis.com/css?family=Lato);

html,
body,
#root {
  margin: 0px;
  height: 100%;
  background: orange;
  font-family: Lato;
}

label {
  display: block;
}

.app h1 {
  font-size: 6.5rem;
  text-align: center;
}

.todo-form {
  border: 5px inset yellowgreen;
  background-color: yellowgreen;
  display: flex;
}

.todo-form h2 {
  font-size: 48px;
  width: 700px;
  margin-left: 90px;
  text-align: center;
}

.todo-form form {
  margin-left: 400px;
  padding-top: 50px;
  padding-left: 10px;
  width: 100%;
}

.todo-form input {
  width: 45rem;
  height: 3em;
}

.add-button {
  margin-left: 10px;
  width: 9rem;
  height: 3rem;
  background-color: goldenrod;
  border: 5px inset white;
  font-size: 20px;
  color: white;
}

.todo-list {
  border: 5px inset rgb(189, 102, 102);
  background-color: rgb(189, 102, 102);
  margin-top: 20px;
}

.todo-list h2 {
  font-size: 48px;
  text-align: center;
  color: lightblue;
}

.clear-button {
  border: 5px inset white;
  width: 400px;
  height: 100px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-size: 35px;
  margin-top: 15px;
  margin-left: 750px;
}
